/* Fondo general */
body {
    background: linear-gradient(to right, #2c3e50, #10b981);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del login */
.login-container {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
}

/* Título */
.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #10b981;
}

/* Grupo de inputs */
.input-group {
    margin-bottom: 1.2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color:#10b981;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* Botón */
.btn-login {
    width: 100%;
    padding: 0.75rem;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login i {
    margin-right: 0.5rem;
}

.btn-login:hover {
    background-color: #10b981;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
